{% extends 'home/index.html.twig' %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td><a href="{{ path('user_remove', {'id': user.id}) }} ">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('user_add') }} ">Add</a>
{% endblock %}