{% extends 'home/index.html.twig' %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block tabconference %}
        <h1> Conferences not rated</h1>
        <table id="confTab">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Moyenne</th>
            </tr>
            </thead>
            <tbody>
            {% for conference in conferences %}
                <tr>
                    <td><a href="{{ path('seeConference',{'id':conference.id, 'idC':conference.id,'idU': app.user.id}) }}">{{ conference.name }}</a></td>
                    <td>{{ conference.description }}</td>
                    <td>{{ conference.moyenne }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}